resource "ory_project_config" "test" {
  session_tokenizer_templates = {
    my_jwt = {
      ttl               = "1h"
      jwks_url          = "base64://eyJrZXlzIjpbeyJ1c2UiOiJzaWciLCJrdHkiOiJSU0EiLCJraWQiOiIxMjM0NTY3ODkwIiwiYWxnIjoiUlMyNTYiLCJuIjoiMEhTQ2RIdEtzT3hWOUVBQk5Id1VLQWF1UkxmMUdHay1RczBTNGNGWThoZUsvbEdCakdNRm01V0duQmRBQ0VoWkxFUkFYVk9SWURna0tqd0c4bzlqZjN0aHoydUVQS0M1QVh0MUdwSWhrU3ExSU9NamxzeHlNNnk2cXZoSk5EMWtvTmlpSFlrT2ZVUW1iQ0tvUzVsdWpDY1RScHRPaWlZTlFnblFUNTdpZ29PY2ZGcEs2dFE2U1RySHFhQURFNlRjS2I3NjFiQmVSdDd3Q21TZmNKOC1wQ1dKdEh3SVNvcnB0VGxFNGR2NjBxWUdsaWtxOXhVWjFMTTNXTjVJNlFUT3FlRVB2aGtZRUQ0N1FhUXZqcU9jTlRmeEp3NkIyT2FEdmhJcEFaakxScUFscXRLaGo0R2s4S0tTbUt0RWNSYjR2ZTBNOExJZGN2d2VGMmZLVXciLCJlIjoiQVFBQiJ9XX0="
      claims_mapper_url = "base64://bG9jYWwgcGF5bG9hZCA9IHN0ZC5leHRWYXIoJ3BheWxvYWQnLCB7fSk7CnsKICBzZXNzaW9uX2lkOiBwYXlsb2FkLnNlc3Npb24uaWQsCn0="
    }
    short_token = {
      ttl      = "5m"
      jwks_url = "base64://eyJrZXlzIjpbeyJ1c2UiOiJzaWciLCJrdHkiOiJSU0EiLCJraWQiOiIxMjM0NTY3ODkwIiwiYWxnIjoiUlMyNTYiLCJuIjoiMEhTQ2RIdEtzT3hWOUVBQk5Id1VLQWF1UkxmMUdHay1RczBTNGNGWThoZUsvbEdCakdNRm01V0duQmRBQ0VoWkxFUkFYVk9SWURna0tqd0c0bzlqZjN0aHoydUVQS0M1QVh0MUdwSWhrU3ExSU9NamxzeHlNNnk2cXZoSk5EMWtvTmlpSFlrT2ZVUW1iQ0tvUzVsdWpDY1RScHRPaWlZTlFnblFUNTdpZ29PY2ZGcEs2dFE2U1RySHFhQURFNlRjS2I3NjFiQmVSdDd3Q21TZmNKOC1wQ1dKdEh3SVNvcnB0VGxFNGR2NjBxWUdsaWtxOXhVWjFMTTNXTjVJNlFUT3FlRVB2aGtZRUQ0N1FhUXZqcU9jTlRmeEp3NkIyT2FEdmhJcEFaakxScUFscXRLaGo0R2s0S0tTbUt0RWNSYjR2ZTBNOExJZGN2d2VGMmZLVXciLCJlIjoiQVFBQiJ9XX0="
      subject_source = "external_id"
    }
  }
}
