name: Lint

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - run: make format

      - name: Check for changes
        run: git diff HEAD --exit-code --color
