# Copyright Ory Corp
# SPDX-License-Identifier: Apache-2.0

name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  acceptance-tests:
    name: Pre-release Acceptance Tests
    runs-on: ubuntu-slim
    timeout-minutes: 30
    env:
      ORY_WORKSPACE_API_KEY: ${{ secrets.ORY_WORKSPACE_API_KEY }}
      ORY_WORKSPACE_ID: ${{ secrets.ORY_WORKSPACE_ID }}
      ORY_CONSOLE_API_URL: ${{ secrets.ORY_CONSOLE_API_URL }}
      ORY_PROJECT_API_URL: ${{ secrets.ORY_PROJECT_API_URL }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Install dependencies
        run: make deps-ci
      - name: Run Acceptance Tests
        env:
          ORY_KETO_TESTS_ENABLED: true
          ORY_B2B_ENABLED: true
          ORY_SOCIAL_PROVIDER_TESTS_ENABLED: true
          ORY_SCHEMA_TESTS_ENABLED: true
          ORY_PROJECT_TESTS_ENABLED: true
        run: ./scripts/run-acceptance-tests.sh -v -timeout 20m ./...

  goreleaser:
    name: GoReleaser
    needs: acceptance-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
