name: Renovate

on:
  workflow_dispatch:
  schedule:
    # https://crontab.guru/#0_8,11,14,17_*_*_*
    - cron: '0 8,11,14,17 * * *'

concurrency:
  group: renovate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  renovate:
    name: Run Renovate
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@44f24283a60f64273f1294932f16ba61193cccca # v46.1.0
        with:
          configurationFile: 'renovate-self-hosted.json'
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_COM_TOKEN|NODE_OPTIONS|AWS_TOKEN)$"
          token: '${{ secrets.ORY_BOT_PAT }}'
