name: Unit Tests

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: read

jobs:
  detect-changes:
    name: Detect Changes
    runs-on: ubuntu-slim
    outputs:
      source-changed: ${{ steps.filter.outputs.source }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            source:
              - '**.go'
              - 'go.mod'
              - 'go.sum'
              - '.github/workflows/unit-test.yml'

  unit-test:
    name: Build & Unit Test
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.source-changed == 'true' }}
    runs-on: ubuntu-slim

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run Unit Tests
        run: go test -short -v -cover ./...
